<div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 ng-if="profile.ID" class="panel-title">Update User {{profile.ID}}</h3>
                            <h3 ng-if="!profile.ID" class="panel-title">Add New User</h3>
                        </div>

                        <form class="form-horizontal" ng-submit="submitForm()" name="registrationForm" novalidate enctype="multipart/form-data">
                        <!--<form class="form-horizontal" method="post" action="http://localhost:1321/upload" name="registrationForm" novalidate enctype="multipart/form-data">-->
                            <div class="panel-body">

                                <div class="col-md-12 clearfix">
                                    <div class="pull-right">
                                        <button type="button" ng-click="cancelEmployee();"
                                                class="btn btn-primary pr15">
                                            <i class="fa fa-arrow-left text-white"></i> Back
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label"
                                           ng-class="">Username:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id="user_login" name="user_login"
                                               placeholder="Username" ng-model="profile.user_login" required> <span ng-show="registrationForm.user_login.$touched && registrationForm.user_login.$error.required">Required</span>

                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label"
                                           ng-class="">Email:<!-- <span
										ng-show="employeeDto.userName === undefined || employeeDto.userName === '' || employeeDto.userName == null"
										style="color: red">*</span> --></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" name="user_email"
                                               placeholder="Email" ng-model="profile.user_email" required
                                               ng-disabled="profile.ID">
                                    </div>
                                    <span class="help-inline" ng-show="registrationForm.user_email.$touched && registrationForm.user_email.$error.required">Required</span>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label">Full Name:
                                    </label>
                                    <div class="col-sm-9 row">
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control input-sm"
                                                   name="display_name" placeholder="First Name"
                                                   ng-model="profile.display_name" ng-pattern="/^[A-z ]+$/" required>
                                        </div>
                                    </div>
                                </div>
                                <span class="help-inline" ng-show="registrationForm.display_name.$touched && registrationForm.display_name.$error.required">Required</span>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label"
                                           ng-class="">Gender
                                        :<!-- <span
										ng-show="employeeDto.gender === undefined || employeeDto.gender === ''"
										style="color: red">*</span> -->
                                    </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="profile.gender" name="gender" required>
                                            <option value="">Select Gender</option>
                                            <option>Female</option>
                                            <option>Male</option>
                                        </select>
                                        <span class="help-inline" ng-show="registrationForm.gender.$touched && registrationForm.gender.$error.required">Required</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12" ng-if="profile.user_photo" >
                                    <label class="col-sm-3 control-label"
                                           ng-class="">Profile Image
                                        :<!-- <span
										ng-show="employeeDto.gender === undefined || employeeDto.gender === ''"
										style="color: red">*</span> -->
                                    </label>
                                    <div class="col-sm-3">
                                        <img ng-src="../uploads/{{profile.user_photo}}" width="100px" height="100px">
                                        </div>
                                    </div>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label"
                                           ng-class="">Upload Image
                                        :<!-- <span
										ng-show="employeeDto.gender === undefined || employeeDto.gender === ''"
										style="color: red">*</span> -->
                                    </label>
                                    <div class="col-sm-3">
                                <input
                                        type="file"
                                        ngf-select
                                        ng-model="profile.userPhoto"
                                        ngf-pattern="'image/*'"
                                        accept="image/*"
                                        ngf-max-size="20MB"
                                /></div>
                                    </div>
                                <!--<div class="form-group col-sm-12">-->
                                    <!--<label class="col-sm-3 control-label"-->
                                           <!--ng-class="">Image Thumbnail:-->
                                    <!--</label>-->
                                    <!--<div class="col-sm-3">-->
                                <!--<img style="width:100px;" ngf-thumbnail="file || '/thumb.jpg'"/>-->
                                <!--<i ng-show="registrationForm.file.$error.required">*required</i><br>-->
                                <!--<i ng-show="registrationForm.file.$error.maxSize">File too large-->
                                    <!--{{file.size / 1000000|number:1}}MB: max 20M</i>-->
                                    <!--</div>-->
                                 <!--</div>-->

                                <!--<div class="form-group col-sm-12">-->
                                    <!--<label class="col-sm-3 control-label"-->
                                           <!--ng-class="">Birthday:&lt;!&ndash; <span-->
										<!--ng-show="employeeDto.dob === undefined || employeeDto.dob === ''"-->
										<!--style="color: red">*</span> &ndash;&gt;</label>-->
                                    <!--<div class="col-sm-3">-->
                                        <!--<div class="date input-group">-->
                                            <!--<input type="text" class="form-control input-sm"-->
                                                   <!--ng-model="employeeDto.dob" placeholder="dd/mm/yyyy" required-->
                                                   <!--readonly="true"> <span class="input-group-addon"><i-->
                                                <!--class="fa fa-calendar"></i> </span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>

                                <div class="mb20">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <!--<button type="submit" class="btn btn-primary" ng-disabled="registrationForm.user_login.$invalid || registrationForm.user_email.$invalid || registrationForm.gender.$invalid || registrationForm.display_name.$invalid">Submit</button>-->
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>


                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('.datepicker').datepicker();
    $('.input-group.date').datepicker({
        format : "dd/mm/yyyy",
        startDate : "-80y",
        endDate : "+6m",
        todayBtn : "linked",
        autoclose : true,
        todayHighlight : true
    });
</script>