<div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 ng-if="profile.ID" class="panel-title">Update User {{profile.ID}}</h3>
                            <h3 ng-if="!profile.ID" class="panel-title">Add New User</h3>
                        </div>

                        <form class="form-horizontal">
                            <div class="panel-body">

                                <div class="col-md-12 clearfix">
                                    <div class="pull-right">
                                        <button type="button" ng-click="cancelEmployee();"
                                                class="btn btn-primary pr15">
                                            <i class="fa fa-arrow-left text-white"></i> Back
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label"
                                           ng-class="">Username:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id="userName"
                                               placeholder="Username" ng-model="profile.user_login"
                                               ng-blur="isemployeeUsernameexist(employeeDto.userName)">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label"
                                           ng-class="">Email:<!-- <span
										ng-show="employeeDto.userName === undefined || employeeDto.userName === '' || employeeDto.userName == null"
										style="color: red">*</span> --></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id="email_id"
                                               placeholder="Email" ng-model="profile.user_email" required
                                               ng-disabled="true">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label"
                                           ng-class="{mandate:employeeDto.firstName === undefined || employeeDto.firstName === '' || employeeDto.lastName === undefined || employeeDto.lastName === ''}">Full
                                        Name:<!-- <span
										ng-show="employeeDto.firstName === undefined || employeeDto.firstName === '' || employeeDto.lastName === undefined || employeeDto.lastName === ''"
										style="color: red">*</span> -->
                                    </label>
                                    <div class="col-sm-9 row">
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control input-sm"
                                                   id="first_name" placeholder="First Name"
                                                   ng-model="profile.display_name" ng-pattern="/^[A-z ]+$/">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label"
                                           ng-class="">Gender
                                        :<!-- <span
										ng-show="employeeDto.gender === undefined || employeeDto.gender === ''"
										style="color: red">*</span> -->
                                    </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="profile.gender">
                                            <option value="">Select Gender</option>
                                            <option>Female</option>
                                            <option>Male</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label"
                                           ng-class="">Birthday:<!-- <span
										ng-show="employeeDto.dob === undefined || employeeDto.dob === ''"
										style="color: red">*</span> --></label>
                                    <div class="col-sm-3">
                                        <div class="date input-group">
                                            <input type="text" class="form-control input-sm"
                                                   ng-model="employeeDto.dob" placeholder="dd/mm/yyyy" required
                                                   readonly="true"> <span class="input-group-addon"><i
                                                class="fa fa-calendar"></i> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="mb20">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button ng-click="saveNewEmployee()"
                                                ng-disabled=" !profile.user_nicename || !profile.gender || disableView"
                                                class="btn btn-success" type="submit">Save</button>
                                    </div>
                                </div>


                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('.datepicker').datepicker();
    $('.input-group.date').datepicker({
        format : "dd/mm/yyyy",
        startDate : "-80y",
        endDate : "+6m",
        todayBtn : "linked",
        autoclose : true,
        todayHighlight : true
    });
</script>