
 <div class="container" ui-view="">
	 <h3>Users List</h3>
	 <table class="table table-bordered table-hover table-striped">

		 <tr>
			 <th>#</th>
			 <th>Name</th>
			 <th>Email</th>
			 <th>Actions</th>
		 </tr>
			<tr ng-repeat="user in users">
						<td>{{user.ID}}</td>
						<td>{{user.display_name}}</td>
						<td>{{user.user_email}}</td>
						<td colspan="2"><a ng-href="#/user/update/{{user.ID}}" href="#/user/update/{{user.ID}}"><i class="fa fa-wrench" aria-hidden="true"></i> </a>    <button ng-href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
			</tr>
	 </table>
 </div>